

:root {
  --step--2: clamp(0.7813rem, 0.7558rem + 0.1131vw, 0.8442rem);
  --step--1: clamp(0.9375rem, 0.8615rem + 0.3376vw, 1.1253rem);
  --step-0: clamp(1.125rem, 0.9733rem + 0.6742vw, 1.5rem);
  --step-1: clamp(1.35rem, 1.0873rem + 1.1676vw, 1.9995rem);
  --step-2: clamp(1.62rem, 1.1972rem + 1.8793vw, 2.6653rem);
  --step-3: clamp(1.944rem, 1.2932rem + 2.8924vw, 3.5529rem);
  --step-4: clamp(2.3328rem, 1.3607rem + 4.3204vw, 4.736rem);
  --step-5: clamp(2.7994rem, 1.3781rem + 6.3168vw, 6.3131rem);
}

::-webkit-scrollbar {
  max-height: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000de;
  border-radius: 5px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #585858; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #454545; 
}



html{
  scroll-behavior: smooth;
}

body{
  font-family: "Raleway", monospace;
  font-size: 20px;
  background-color: #ffffff;
  color: #000000;
  margin: 0px;
}

main{
  margin-top: 20px;
  margin: 20px;
}

h1{
  margin-right: auto;
  margin-left: auto;
  font-size: var(--step-5);
  text-align: center;
}

h3{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: var(--step-1);
}

p{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70vw;
  font-size: var(--step-1);
}

a{
  text-decoration: none; 
}

iframe{
  border-radius: 10px;
  border-width: 5px;
  border-style:solid;
  border-color: #744106;
}

.scrolloff::-webkit-scrollbar{
  display: none;
}

.navbar{
  margin: 0px;
  width: 100%;
  position: sticky;
  top: 0px;
  padding: 0px;
  background-image: linear-gradient(45deg, #9b5506, #ebaf0c);
  box-shadow: 0px 10px 10px #00000060;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
}
.navbarlist{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbarlist li{
  float: left;
  text-align: center;
  padding: 0px;
  margin: 0px 2px 0px 2px;
  height: fit-content;
  z-index: 4;
}

.navbarlist a{
  display: block;
  font-weight: 300;
  font-size: var(--step-0);
  font-family: "Raleway", monospace;
  padding: 0.5vw;
  color: #000000;
  background-color: #00000000;
  border-radius: 10px;
  border-width: 0px;
  margin: 0.3vw;
  transition: 200ms;
  padding: 7px 3px 7px 3px;
}

.navbarlist a:hover{
  background-color: rgba(0, 0, 0, 0.205);
}

#navbarimg{
  height: clamp(2rem, 3vw, 4rem);
  padding-top: 0.5%;
  padding-bottom: auto;
  padding-right: 10px;
  margin: 0pc;
  float: right;
}

#find-us{  
  background-image: linear-gradient(45deg, #9b5506, #ebaf0c);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 16px 16px 16px #646464c5;
}

#find-us p{
  font-size: clamp(0.5rem, 2vw, 2rem);
  font-size: 15px;
  color: #00000071;
}

.mapa{
  display: flex;
  justify-content: center;
  height: fit-content;
  padding: 20px; 
}
#menu{
  border-radius: 20px;
  background-image: linear-gradient(45deg, #9b5506, #ebaf0c);
  padding: 20px;
  box-shadow: 16px 16px 16px #646464c5;
}

#menu h1{
  margin-bottom: 10px;
}

.menuimgcontainer{
  display: flex;
  justify-content: center;
}

#menuimg{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}


header{
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding: 0px;
  height: 30vmax;
  position: relative;
}

.bg-img{
  background-image: url(assets/images/kebs.jpg);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  scale: 1.05;
}

.titles{
  position: absolute;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: "Libre Baskerville", Courier, monospace;
  color: #ca8639;
  text-shadow: 0px 0px 8px #000000;
}

#title{
  font-weight: 300;
  letter-spacing: 20%;
}

#title:hover{
  cursor: default;
}

#subtitle{
  font-weight: 300;
  letter-spacing: 20%;
}

#subtitle:hover{
  cursor: default;
}

#kebsimg{
  max-width: 100vw;
  height: 100%;
  padding: 0px;
  margin: 0px;
  filter: blur(10px);
}

#gallery{
  border-radius: 20px;
  background-image: linear-gradient(45deg, #9b5506, #ebaf0c);
  padding: 20px;
  box-shadow: 16px 16px 16px #646464c5;
}

.gallery-img-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  height: auto;
  overflow: auto;
  margin: auto;
}

.gallery-img{
  max-height: 600px;
  min-height: 300px;
  max-width: 500px;
  min-width: 250px;
  object-fit: cover;
  padding: 10px;
}

.gallery-bq{
  padding: 10px;
  background-color: #000000ad;
  border-radius: 20px;
  max-height: 100%;
  width: 95%;
  max-width: 1500px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}